[user]
    name = narzac
    email = ahmethegreen@gmail.com

[includeIf "gitdir:~/code/work/"]
    path = ~/.gitconfig-ing

[color]
    ui = true
    pager = yes

[core]
    editor = /usr/bin/vim
    pager = less -FRSX
	autocrlf = false
    safecrlf = true
    excludesfile = ~/.gitignore

[apply]
    whitespace = nowarn

[push]
    default = matching

# [diff]
#     tool = bc3

[difftool]
    prompt = false

[mergetool]
    prompt = false

# [merge]
#     tool = bc3
#     conflictstyle = diff3

[alias]
    b = branch
    c = commit
    cm = commit -m
    co = checkout
    st = status --short --branch
    ll = log --oneline --decorate
    pushd = push -u origin HEAD
    di = diff ':(exclude)package-lock.json' ':(exclude)yarn.lock'
    dc = diff --cached ':(exclude)package-lock.json' ':(exclude)yarn.lock'
    lg = log --graph --all --oneline
    ca = commit --amend --no-edit
    cam = commit --amend --reset-author -m
    aa = add --all
    mff = merge --ff-only
    pff = pull --ff-only
    fa = fetch --all
    rh = reset HEAD
    srh1 = reset --soft HEAD^1
